
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;
    position: fixed;
    background-color: white;
    border-bottom: 2px solid #101e28;
}

.nav a h1 span {
    color: #4272ff;
}

.nav .list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.list li {
    list-style: none;
}

.list li a {
    padding: 5px;
    font-size: 18px;
}

.list li a:hover {
    border-bottom: 3px solid #0000ff;
    color: #0000ff;
}

#toggle,
label {
    display: none;
}

.opt-1 {
    border-bottom: 3px solid #4272ff;
}

.opt-3 {
    border-bottom: 3px solid #d40aaf;
}

.opt-4 {
    border-bottom: 3px solid #42ff58;
}

.opt-2 {
    border-bottom: 3px solid orangered;
}

.main {
    position: absolute;
    top: 20px;
    width: 100%;
}

.hero {
    width: 100%;
    height: 350px;
    background-image: url("./hero_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero form input[type="search"] {
    padding: 10px;
    max-width: 300px;
    min-width: 25px;
    border: none;
    height: 10px;
    min-width: auto;
    min-height: 50px;
    font-size: 18px;
}

.hero form {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: auto;
}

.hero form button {
    padding: 10px;
    max-width: 150px;
    min-width: 30px;
    background-color: white;
    border: none;
    background-color: #4272ff;
}

.hero form button:hover {
    background-color: #6e94cf;
}

.latest {
    padding: 20px;
    background-color: white;
}

.latest .latest_sub {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.latest .latest_sub form input[type="text"] {
    width: 20px;
    height: 20px;
    padding: 4px;
}

.latest .latest_sub2 {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.latest .latest_sub2 .img {
    padding: 10px;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gray;
}

.latest .latest_sub2 .img:hover {
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px gray;
}

.latest .latest_sub2 .img .date {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.latest .latest_sub2 .img .date p {
    color: rgb(106, 103, 103);
}

.latest_footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
    gap: 5px;
}

.latest_footer form {
    display: flex;
    gap: 15px;
    align-items: center;
}

.latest_footer button {
    padding: 10px;
    width: 10%;
    height: auto;
    border: none;
    background-color: #a7ccdf;
}

.latest_footer button:hover {
    border: 1px solid black;
}

.latest_footer button a {
    font-size: 15px;
}

.latest_footer form input[type="text"] {
    width: 35px;
    min-width: 20px;
    min-height: 20px;
    height: 35px;
    text-align: center;
    border: none;
    background-color: white;
}

.latest_footer form input[type="text"]:hover {
    border-bottom: 3px solid #0000ff;
}

#pg-1 {
    border-bottom: 3px solid #0000ff;
}


/* ----------------Contact page-------------- */

.contact {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.contact .sub-contact1 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contact .sub-contact1 .sub-c1 {
    width: 50%;
}

.contact .sub-contact1 .sub-c1 h2 {
    padding: 10px;
}

.contact .sub-contact1 .sub-c1 form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.contact .sub-contact1 .sub-c1 form input[type="text"],
.contact .sub-contact1 .sub-c1 form input[type="email"],
.contact .sub-contact1 .sub-c1 form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #0c141a;
}

.contact .sub-contact1 .sub-c1 form textarea {
    width: 100%;
    height: 70px;
    padding: 10px;
    border: 1px solid #0c141a;
}

.contact .sub-contact1 .sub-c1 form input[type="submit"] {
    width: 30%;
    padding: 10px;
    border: none;
    background-color: #4272ff;
    font-size: 15px;
    color: white
}

.contact .sub-contact1 .sub-c1 form input[type="submit"]:hover {
    background-color: #2449bb;
}

.contact .sub-contact1 .sub-c2 {
    width: 50%;
    padding: 20px;
}

.contact .sub-contact1 .sub-c2 div p {
    text-align: justify;
}

.contact .sub-contact1 .sub-c2 h2 {
    padding: 10px;
    text-align: center;
}

.contact .sub-contact1 .sub-c2 div div p {
    text-align: justify;
    padding: 10px;
}

.contact .sub-contact2 {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}

.contact .sub-contact2 .bio {
    width: 22%;
    padding: 20px;
    box-shadow: 1px 1px 2px 2px lightgray;
}

.contact .sub-contact2 .bio:hover {
    box-shadow: 2px 2px 2px 2px lightblue;
}

.contact .sub-contact2 .bio h3 {
    color: rgb(255, 106, 0);
}

.contact .sub-contact2 .bio h4 {
    color: #4272ff;
}

.contact .sub-contact2 .bio p {
    text-align: justify;
}

.contact .sub-contact2 .bio .social-media a {
    padding: 5px;
}

.contact .sub-contact2 .bio .social-media a:hover {
    border-bottom: 3px solid lightblue;
}


/* ---------------About Page---------------- */

.about {
    padding: 15px;
}

.about h2 {
    padding: 10px;
}

.about .about-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about .about-sub img {
    padding: 8px;
    width: 50%;
}

.about-sub .about-sub2 {
    padding: 8px;
    width: 50%;
}

.about-sub .about-sub2 p {
    text-align: justify;
}

.about-sub3 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-sub3 div {
    padding: 8px;
    width: 45%;
}

.about-sub3 div p {
    text-align: justify;
}


/* ----------------Footer----------------------- */

footer {
    height: auto;
    background-color: #0c141a;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .sub-foot1 h2 {
    color: white;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

footer .sub-foot1 {
    width: 35%;
}

footer .sub-foot1 p {
    text-align: justify;
    color: white;
}

footer .sub-foot2 a:hover {
    color: #63dafc;
}

footer .sub-foot2 {
    width: 18%;
}

footer .sub-foot3 {
    width: 18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

footer .sub-foot2 h3,
footer .sub-foot2 a {
    color: white;
    padding: 4px;
}

footer .sub-foot3 a {
    border: none;
}

footer .sub-foot3 a :hover {
    background-color: white;
}

footer .div-3 {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}


/* -------------Copy Rights------------ */

.copy-rights {
    padding: 20px;
    background-color: #0c141a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.copy-rights p {
    color: white;
    padding: 10px;
}

.copy-rights p span {
    color: #6e94cf;
    text-decoration: underline;
}

@media (max-width:880px) {
    .main .hero form {
        width: 70%;
    }
    .main .hero form input[type="search"] {
        width: 100%;
    }
    .main .hero form button {
        width: auto;
    }
    .latest .latest_sub2 {
        padding: 10px;
        justify-content: center;
        align-items: center;
    }
    .nav .list {
        width: 100%;
        flex-direction: column;
        align-items: center;
        display: none;
        background-color: white;
    }
    #toggle:checked~.list {
        display: flex;
    }
    label {
        display: block;
    }
    .hero {
        width: 100%;
        height: 50vh;
    }
    footer {
        flex-direction: column;
        padding: 10px;
    }
    footer div {
        width: 100%;
    }
    .contact .sub-contact1 {
        width: 100%;
        flex-direction: column;
    }
    .contact .sub-contact1,
    .contact .sub-contact1 .sub-c1,
    .contact .sub-contact1 .sub-c2,
    .contact .sub-contact1 .sub-c1 form {
        width: 100%;
    }
    .contact .sub-contact1 .sub-c1 form input[type="text"],
    .contact .sub-contact1 .sub-c1 form input[type="email"],
    .contact .sub-contact1 .sub-c1 form select,
    .contact .sub-contact1 .sub-c1 form textarea {
        width: 100%;
    }
    .contact .sub-contact2 {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
    .contact .sub-contact2 .bio {
        width: 100%;
    }
    .contact .sub-contact2 .bio img,
    .about .about-sub img,
    .about .about-sub .about-sub2,
    .about-sub3 div {
        width: 100%;
        height: auto;
    }
    footer .sub-foot1,
    footer .sub-foot2,
    footer .sub-foot3 {
        width: 100%;
    }
    .latest_footer button {
        width: auto;
    }
}
